.subtotal{
    font-weight: 500;
    font-size: 16px;
    margin: 30px 0 20px;
    float: right;
    border-radius: 10px;
    padding: 15px 30px;
    border: 1px solid #f5f7fa;
    background-color: #f5f7fa;
    position: relative;
    color: var(--blackColor);
    text-align: center;
}

.delete{
    color: var(--dangerColor);
    font-size: 18px;
    cursor: pointer;

    &:hover{
        color: var(--darkColor);
    }
}

.no-margin-top{
    margin-top: 0;
}

.ctn-products{
    max-height: 30vh;
    overflow-y: auto;
}

.material-symbols-outlined{
   position: absolute;
   left: 15px;
   font-size: 22px;
   top: 17px;
}

.in-mat{
    left: -42px;
    font-size: 25px;
    color: var(--blackColor);
    top: 15px;
}