<h1 mat-dialog-title>{{title}}</h1>
<form [formGroup] = "optionForm">
  <mat-card class="trinta-card mb-10 bg-white border-none d-block">
    <mat-card-content>
      <div class="row g-3"> 
        <div class="col-sm-12">
          <label class="label d-block fw-medium mb-10">Nome opzione</label>
          <mat-form-field class="w-100">
            <i-feather name="code"></i-feather>
            <mat-label>Inserisci il nome della opzione</mat-label>
            <input matInput formControlName="name" type="text">
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <label class="label d-block fw-medium mb-10">Label opzione</label>
          <mat-form-field class="w-100">
            <i-feather name="code"></i-feather>
            <mat-label>Inserisci il nome della label</mat-label>
            <input matInput formControlName="layer" type="text">
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <label class="label d-block fw-medium mb-10">Tipo opzione</label>
          <mat-form-field class="w-100">
            <i-feather name="code"></i-feather>
            <mat-label>Inserisci il tipo della opzione</mat-label>
            <mat-select formControlName="optionType" (selectionChange)="changeType($event)">
               <mat-option *ngFor="let key of optionTypeKeys" [value]="OptionType[key]">
                {{ OptionTypeLabels[key] }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-12" *ngIf="isSelect">
          <label class="label d-block fw-medium mb-10">Seleziona un prodotto</label>
          <!-- Input di ricerca con autocomplete -->
          <mat-form-field class="w-100 mt-2">
            <i-feather name="tag"></i-feather>
            <input
              matInput
              placeholder="Cerca prodotto"
              [formControl]="productCtrl"
              [matAutocomplete]="auto"
            >
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addProductToList($event.option.value)">
              <mat-option *ngFor="let p of filteredProducts | async" [value]="p">
                {{ p.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div formArrayName="products" class="ctn-products">
          <div *ngFor="let group of productsForm.controls; let i = index" [formGroupName]="i" class="row g-3">
            
            <div class="col-lg-7">
              <label class="label d-block fw-medium mb-10" *ngIf="i === 0">Nome del prodotto</label>
              <mat-form-field class="w-100">
                <i-feather name="tag"></i-feather>
                <mat-label>Nome del prodotto</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
            </div>

            <div class="col-lg-3">
              <label class="label d-block fw-medium mb-10" *ngIf="i === 0">Prezzo(€)</label>
              <mat-form-field class="w-100">
                <span class="material-symbols-outlined in-mat">
                  euro
                </span>
                <mat-label>Prezzo(€)</mat-label>
                <input matInput formControlName="price" type="number">
              </mat-form-field>
            </div>

            <div class="col-sm-2">
              <span [ngClass]="i === 0 ? 'subtotal' : 'subtotal no-margin-top'">
                <span class="delete" (click)="removeThis(i)">
                  <i class="ri-delete-bin-line"></i>
                </span>
              </span>
            </div>

          </div>

        </div>

      </div>
    </mat-card-content>
  </mat-card>
</form>
<mat-dialog-actions>
  <button mat-button (click)="onClose()" class="btn back">Chiudi</button>
  <button mat-flat-button (click)="onSave()" class="btn" [disabled]="optionForm.invalid">Salva</button>
</mat-dialog-actions>
