<h1 mat-dialog-title>{{title}}</h1>
<form [formGroup] = "form">
  <mat-card class="trinta-card mb-10 bg-white border-none d-block">
    <mat-card-content>
      <div class="row g-3"> 
        <div class="col-sm-12" *ngIf="isAdd">
          <label class="label d-block fw-medium mb-10">Seleziona opzione</label>
          <mat-form-field class="w-100">
            <i-feather name="tag"></i-feather>
            <mat-label>Seleziona opzione</mat-label>
            <input
              matInput
              placeholder="Cerca prodotto"
              [formControl]="productCtrl"
              [matAutocomplete]="auto"
            >
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectProduct($event.option.value)" [displayWith]="displayProduct">
              <mat-option *ngFor="let p of filteredProducts | async" [value]="p">
                {{ p.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>        
        </div>
        <div class="col-sm-12">
          <label class="label d-block fw-medium mb-10">Nome</label>
          <mat-form-field class="w-100">
            <i-feather name="tag"></i-feather>
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name" type="text">
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <label class="label d-block fw-medium mb-10">Quantità</label>
          <mat-form-field class="w-100">
            <i-feather name="layers"></i-feather>
            <mat-label>Quantità</mat-label>
            <input matInput formControlName="quantity" type="number">
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <label class="label d-block fw-medium mb-10">Prezzo</label>
          <mat-form-field class="w-100">
            <span class="material-symbols-outlined in-mat">
              euro
            </span>
            <mat-label>Prezzo</mat-label>
            <input matInput formControlName="price" type="number">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <input type="hidden" formControlName = "productId">
  <input type="hidden" formControlName = "type">
</form>
<mat-dialog-actions>
  <button mat-button (click)="onClose()" class="btn back">Chiudi</button>
  <button mat-flat-button (click)="onSave()" class="btn" [disabled]="form.invalid">Salva</button>
</mat-dialog-actions>
