<div class="reset-password-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div
                class="trinta-form ml-auto mr-auto bg-white border-radius"
            >
                <div class="title d-flex">
                    <div class="d-flex align-items-center">
                        <img src="images/logo.png" width = "40"> 
                        <span>TRISCELE</span>
                    </div>
                </div>
                <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
                <div class="title text-center">
                    <h3>
                        Cambia la tua password
                    </h3>
                    <p class="text-black fs-15 line-h-22">
                        Inserisci la password che vuoi utilizzare
                    </p>
                </div>
                    <div class="form-group">
                        <label class="label d-block fw-medium">
                            Nuova Password
                        </label>
                        <mat-form-field>
                            <i-feather name="lock"></i-feather>
                            <mat-label>Inserisci la nuova password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <span class="material-symbols-outlined">
                                    {{hide ? 'visibility_off' : 'visibility'}}
                                </span>
                            </button>
                        </mat-form-field>
                    </div>
                    <button mat-button type="submit" [disabled]="authForm.invalid">
                        Salva password
                    </button>
                    <div class="error text-danger mb-10" *ngIf="isError">
                        Si è verificato un errore.
                    </div>
                    <div class="success text-success mb-10" *ngIf="isSuccess">
                       La tua password è stata cambiata con successo.
                    </div>
                    <div class="text-center">
                        <a routerLink="/authentication" class="text-primary">
                            Torna al login per accedere
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>