<div
    class="sidebar-area bg-white transition sidebar-shadow"
    [ngClass]="{'active': isToggled}"
>
    <div class="logo">
        <a routerLink="/" class="d-flex align-items-center">
            <img src="images/logo.png" alt="logo-icon" width="33px">
            <span>
               TRISCELE
            </span>
        </a>
    </div>
    <div
        class="burger-menu transition cursor-pointer"
        [ngClass]="{'active': isToggled}"
        (click)="toggle()"
    >
        <span class="top-bar transition bg-dark d-block"></span>
        <span class="middle-bar transition bg-dark d-block"></span>
        <span class="bottom-bar transition bg-dark d-block"></span>
    </div>
    <ng-scrollbar visibility="hover">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
                    <span class="sub-title text-body sbs">
                        MAIN
                    </span>
                    <a routerLink="/dashboard" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i-feather name="activity"></i-feather>
                        <span class="title">
                            Dashboard
                        </span>
                    </a>

                    <span class="sub-title text-body sbs">
                        ORDINI
                    </span>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i-feather name="file-text"></i-feather>
                                <span class="title">
                                    Preventivi
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a [routerLink]="['/quotations']" routerLinkActive="active" 
                                    [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Vedi tutti
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a [routerLink]="['/order/add']" routerLinkActive="active" 
                                    [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Aggiungi
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                    <a routerLink="/orders" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i-feather name="file-text"></i-feather>
                        <span class="title">
                            Ordini
                        </span>
                    </a>

                    <a class="sidebar-menu-link sbs" (click)="logout()" href="#">
                        <i-feather name="Lock"></i-feather>
                        <span class="title">Logout</span>
                    </a>
                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>