.trinta-card {
    &.to-do-list-card {
        .search-box {
            margin-bottom: 23px;
            
            input {
                height: 46px;
                border-radius: 6px;
                background: #f5f7fa;
                padding: {
                    left: 20px;
                    right: 20px;
                };
                &::placeholder {
                    transition: var(--transition);
                }
                &:focus {
                    &::placeholder {
                        color: transparent;
                    }
                }
            }
            button {
                top: 50%;
                right: 20px;
                font-size: 22px;
                position: absolute;
                color: var(--primaryColor);
                transform: translateY(-50%);
            }
        }
        .to-do-list-table {
            .mat-mdc-table {
                width: 100%;
                overflow: hidden;
                background-color: transparent;

                .mat-mdc-header-row {
                    height: auto;
                    line-height: initial;
                    letter-spacing: 0.14px;
                    color: var(--darkColor);
                    background: transparent;
                    font: {
                        weight: 500;
                        size: var(--fontSize);
                        family: var(--fontFamily);
                    };
                    .mat-mdc-header-cell {
                        border: none;
                        overflow: unset;
                        text-align: start;
                        white-space: nowrap;
                        line-height: initial;
                        padding: 0 15px 15px;
                        letter-spacing: normal;
                        background: transparent;
                        border-bottom: 2px solid #edeff5;
                    }
                }
                .mat-mdc-row, .mdc-data-table__content {
                    line-height: initial;
                    background: transparent;
                    font: {
                        weight: normal;
                        size: var(--fontSize);
                        family: var(--fontFamily);
                    };
                }
                .mat-mdc-row {
                    height: auto;
                    color: var(--blackColor);
                }
                .mat-mdc-cell {
                    border: none;
                    overflow: hidden;
                    text-align: start;
                    padding: 18px 15px;
                    white-space: nowrap;
                    line-height: initial;
                    letter-spacing: 0.14px;
                    background: transparent;
                    border-bottom: 1px solid #edeff5;
                    min-width: 120px;

                    .task-name {
                        padding-left: 28px;

                        .mat-mdc-checkbox {
                            left: 0;
                            top: 50%;
                            margin-top: -1.3px;
                            position: absolute;
                            transform: translateY(-50%);
                        }
                        h6 {
                            font-size: 15px;
                        }
                    }
                    .trinta-badge {
                        font-size: 12px;
                        border-radius: 2px;
                        padding: 1.5px 7px;
                        letter-spacing: 1px;
                        color: var(--primaryColor);
                        background: rgba(55, 97, 238, 0.10);

                        &.urgent {
                            color: var(--dangerColor);
                            background: rgba(238, 54, 140, 0.10);
                        }
                        &.onHand {
                            color: #00b69b;
                            background: rgba(0, 182, 155, 0.10);
                        }
                    }
                    .action {
                        .mat-mdc-button {
                            font-size: 18px;
                            color: #818093;
                            margin-right: 12px;

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
            .mat-mdc-paginator {
                padding-top: 15px;
            }
        }
    }
}
::ng-deep {
    .trinta-card {
        &.to-do-list-card {
            .to-do-list-table {
                .mat-mdc-table {
                    .mat-mdc-row{
                        background-color: #fafafa!important;

                        &:nth-child(2n){
                            background-color: #ffff!important;
                        }

                    }

                    .mat-mdc-cell {
                        padding: 15px 0!important;
                        h6{
                            font-weight: 500!important;
                            font-size: 14px!important;
                        }
                        .mdc-checkbox {
                            padding: 0;
                            margin: 0;
    
                            .mdc-checkbox__native-control {
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                width: 100%;
                                height: 100%;
                            }
                            .mdc-checkbox__background {
                                top: 0;
                                left: 0;
                                border-radius: 5px;
                            }
                            .mat-mdc-checkbox-ripple, .mdc-checkbox__ripple {
                                border-radius: 5px;
                            }
                            .mat-mdc-checkbox-touch-target {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .trinta-card {
        &.to-do-list-card {
            .search-box {
                margin-bottom: 20px;
                
                input {
                    height: 45px;
                    padding: {
                        left: 15px;
                        right: 15px;
                    };
                }
                button {
                    right: 15px;
                    font-size: 18px;
                }
            }
            .to-do-list-table {
                .mat-mdc-table {
                    .mat-mdc-header-row {
                        font-size: 13px;
                    }
                    .mat-mdc-row, .mdc-data-table__content {
                        font-size: 13px;
                    }
                    .mat-mdc-cell {
                        padding: 15px;
    
                        .task-name {
                            h6 {
                                font-size: 13px;
                            }
                        }
                        .trinta-badge {
                            font-size: 11px;
                        }
                        .action {
                            .mat-mdc-button {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .trinta-card {
        &.to-do-list-card {
            .search-box {
                margin-bottom: 20px;
                
                input {
                    padding: {
                        left: 18px;
                        right: 18px;
                    };
                }
                button {
                    font-size: 20px;
                }
            }
            .to-do-list-table {
                .mat-mdc-table {
                    .mat-mdc-cell {
                        .task-name {
                            h6 {
                                font-size: 14px;
                            }
                        }
                        .action {
                            .mat-mdc-button {
                                font-size: 17px;
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .trinta-card {
        &.to-do-list-card {
            .to-do-list-table {
                .mat-mdc-table {
                    .mat-mdc-cell {
                        padding: 19px 15px;
                    }
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .trinta-card {
        &.to-do-list-card {
            .to-do-list-table {
                .mat-mdc-table {
                    .mat-mdc-cell {
                        padding: 18.7px 15px;
                    }
                }
            }
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}


.filter {
    width: 100%;
    height: auto;
    display: block;
    min-width: auto;
    margin-top: 0px;
    border-radius: 6px;
    padding: 18px 25px;
    color: var(--whiteColor)!important;
    background-color: var(--primaryColor);
    font-size: 14px;
    font-weight: 400;
    font-family: var(--headingFontFamily);
    border: none;
    cursor: pointer;
}

.mini{
    max-width: 90px!important;
    min-width: 90px!important;
    width: 90px!important;
}


.remove {
    width: 100%;
    height: auto;
    display: block;
    min-width: auto;
    margin-top: 0px;
    border-radius: 6px;
    padding: 18px 25px;
    color: var(--whiteColor)!important;
    background-color: var(--dangerColor);
    font-size: 14px;
    font-weight: 400;
    font-family: var(--headingFontFamily);
}

::ng-deep .mat-form-field-label {
  font-size: 14px !important;
  color: #888; /* opzionale */
}

.note-cell {
  white-space: pre-line;
  span{
    font-size: 11px;
    color: #6f6e81;
  }
}

.span-color{
    color: var(--whiteColor);
    opacity: 0.7;
    padding: 6px 10px 8px;
    font-weight: 300;
    border-radius: 5px;
    box-shadow: 0px 1px 1px #a6a5bb;
    font-size: 14px;
    min-width: 130px;
    float: left;
    text-align: center;
}

.note-cell-container{
    max-height: 80px; 
    overflow-y: auto;
    margin: 0 30px 0 10px;
}


.toggle-checkbox, .toggle-label{
    display: none;
}


@media (max-width: 991px) {
  ::ng-deep {
    .trinta-card.to-do-list-card {
      .to-do-list-table {
        .mat-mdc-table,
        thead,
        tbody,
        th,
        td,
        tr {
          display: block;
        }

        thead tr {
          display: none;
        }

        .mat-mdc-row {
          margin-bottom: 15px;
          border: 1px solid #ddd;
          border-radius: 8px;
          padding: 10px;
          background-color: #fff !important;
        }

        .mat-mdc-cell {
          display: flex;
          justify-content: space-between;
          padding: 8px 10px !important;
          white-space: normal !important;
          text-align: left !important;
          border-bottom: 1px dotted #ccc;

          &::before {
            content: attr(data-label);
            font-weight: bold;
            margin-right: 10px;
          }

          &:last-child {
            border-bottom: 0!important;
          }

          h6 {
            font-size: 14px !important;
            font-weight: 500 !important;
            margin: 0;
          }
        }
      }

      .mat-mdc-paginator {
        padding-top: 10px;
      }
    }
  }

    ::ng-deep {
    .trinta-card.to-do-list-card {
      .to-do-list-table {
        .mat-mdc-cell[data-label="Prodotti"] {
          flex-direction: column; /* mette i div in colonna */
          align-items: flex-start; /* allinea a sinistra */
        }
      }
    }
  }

    /* CSS per il panel collapsible */
    .filter-panel {
    .toggle-checkbox {
        display: none;
    }

    .toggle-label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #f5f7fa;
        padding: 10px 15px;
        border-radius: 6px;
        font-weight: 500;
        cursor: pointer;

        .arrow {
        transition: transform 0.3s ease;
        }
    }

    .filter-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
    }

    /* Checkbox checked: mostra il contenuto e ruota l'icona */
    .toggle-checkbox:checked ~ .toggle-label .arrow {
        transform: rotate(180deg);
    }
    .toggle-checkbox:checked ~ .filter-content {
        max-height: 1000px; /* altezza sufficiente a contenere il form */
        margin-top: 10px;
    }
    }

    /* Nasconde su desktop */
    @media (min-width: 992px) {
        .filter-panel {
            .toggle-label,
            .toggle-checkbox,
            .filter-content {
            display: block !important;
            max-height: none !important;
            }
        }
    }

    .filter {
        margin-bottom: 10px;
    }

    .note-cell-container{
        width: 100%;
        max-height: 100%;
    }

}

.maxi{
    min-width: 250px;
}