.subtotal{
    font-weight: 500;
    font-size: 16px;
    margin-right: 20px;
    float: right;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    border: 1px solid #f5f7fa;
    background-color: #f5f7fa;
    position: relative;
    color: var(--blackColor);
    width:90%;
    text-align: right;
}

.subtotal-subs{
    font-weight: 500;
    font-size: 16px;
    margin-right: 20px;
    float: right;
    border-radius: 10px;
    padding: 15px 15px 15px 0px;
    border: 1px solid #f5f7fa;
    background-color: #f5f7fa;
    position: relative;
    color: var(--blackColor);
}

.sub{
    margin-right: 20px;
}

.delete{
    color: var(--dangerColor);
    margin-left: 20px;
    font-size: 18px;
    cursor: pointer;

    &:hover{
        color: var(--darkColor);
    }
}

.grandTotalText, .grandTotal{
    font-weight: 500;
    font-size: 15px;
}

.grandTotal{
    padding-right: 35px;
}

.sub-element{
  font-weight: 500;
  font-size: 25px;
}

.center{
  display: flex;
  justify-content: center;  
  align-items: center;    
  text-align: center;
  max-height: 56px;
 }

.material-symbols-outlined{
   position: absolute;
   left: 15px;
   font-size: 22px;
   top: 17px;
}

.in-mat{
    left: -42px;
    font-size: 25px;
    color: var(--blackColor);
}

.custom-select2 {
  width: 100%;
}

mat-chip {
  background-color: #e0e0e0;
  margin: 2px;
}

mat-chip button {
  margin-left: 5px;
  font-size: 14px;
}

input[matinput] {
  border: none;
  outline: none;
}

.mt-30{
  margin-top: 31px;
}

.config{
    font-weight: 500;
    font-size: 20px;
    float: left;
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
    border: 1px solid #f5f7fa;
    background-color: #f5f7fa;
    position: relative;
    color: var(--blackColor);
    width: 100%;
    text-align: center;
    margin:0;
    cursor: pointer;


    label{
      position: absolute;
      left: 40px;
    }

}

.config-disabled{
    font-weight: 500;
    font-size: 20px;
    float: left;
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
    border: 1px solid #f5f7fa;
    background-color: #f5f7fa;
    position: relative;
    color: var(--bodyColor);
    width: 100%;
    text-align: center;
    margin:0;
    cursor: pointer;


    label{
      position: absolute;
      left: 40px;
    }

}

.no-margin-top{
  margin-top: 0;
}

/* Riduci lo spazio orizzontale tra colonne Bootstrap */
.compact-row {
  --bs-gutter-x: 0.25rem; /* default = 1.5rem → molto più stretto */
  --bs-gutter-y: 0.25rem; /* riduce anche lo spazio verticale */
}

/* Riduci padding interno delle colonne */
.compact-row > [class^="col-"],
.compact-row > [class*=" col-"] {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

/* Riduci margini dei mat-form-field */
.compact-row .mat-form-field {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
