.in-mat{
    position: absolute;
    left: -40px;
    top: 15px;
    color: var(--blackColor);
}

.option-bg{
    border-bottom:solid 1px #e2e2e2;
    padding: 10px 0 3px;
    margin: 0px 0 20px;
    font-size: 15px;
    font-weight: 500;

    span{
        color: var(--primaryColor);
    }
}

.ctn-options{
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.color-picker-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.color-input {
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.color-preview {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
