<h1 mat-dialog-title>{{ title }}</h1>

<form [formGroup]="form">
  <mat-card class="trinta-card mb-10 bg-white border-none d-block">
    <mat-card-content>
      <ng-container
        *ngTemplateOutlet="renderOption; context: { options: masterOptions, parentForm: form }">
      </ng-container>
    </mat-card-content>
  </mat-card>
</form>

<mat-dialog-actions>
  <button mat-button (click)="onClose()" class="btn back">Chiudi</button>
  <button mat-flat-button (click)="onSave()" class="btn" [disabled]="form.invalid">Salva</button>
</mat-dialog-actions>

<ng-template #renderOption let-options="options" let-parentForm="parentForm">
  <div class="ctn-options">
    <div class="row g-3" *ngFor="let o of options">
      <div class="col-sm-12" [formGroup]="parentForm">
        <label class="d-block option-bg">Opzione: <span>{{ o.option.name | titlecase }}</span></label>

        <ng-container [ngSwitch]="o.option.optionType">


        <!--select-->
        <div class="row" *ngSwitchCase="OptionType.select">
          <div class="col-sm-8">
              <mat-form-field class="w-100">
                <i-feather name="list"></i-feather>
                <mat-label>{{ o.option.layer ?? o.option.name | titlecase }}</mat-label>
                <mat-select [formControlName]="o.option._id"
                            [compareWith]="compareProducts"
                            (selectionChange)="setSubOption(o, $event.value)">
                  <mat-option *ngFor="let p of o.option.products" [value]="p">{{ p.name }} (+{{p.price}}€)</mat-option>
                </mat-select>
              </mat-form-field>
          </div>
          <div class="col-sm-4">
            <!--quantità select-->
            <mat-form-field class="w-80" *ngSwitchCase="OptionType.select">
              <i-feather name="layers"></i-feather>
              <mat-label>Quantità</mat-label>
              <input matInput type="number" [formControlName]="'qta_' + o.option._id">
            </mat-form-field>
          </div>
        </div>

          <!--text-->
          <mat-form-field class="w-100" *ngSwitchCase="OptionType.text">
            <i-feather name="file"></i-feather>
            <mat-label>{{ o.option.layer ?? o.option.name | titlecase }} </mat-label>
            <input matInput type="text" [formControlName]="o.option._id">
          </mat-form-field>

          <!--textarea-->
          <mat-form-field class="w-100" *ngSwitchCase="OptionType.textarea">
            <i-feather name="file"></i-feather>
            <mat-label>{{ o.option.layer ?? o.option.name | titlecase }}</mat-label>
            <textarea matInput 
            [formControlName]="o.option._id"           
            style="height: 80px;"></textarea>
          </mat-form-field>

          <mat-form-field class="w-100" *ngSwitchCase="OptionType.color">
            <i-feather name="circle"></i-feather>
            <mat-label>{{ o.option.layer ?? o.option.name | titlecase }}</mat-label>
            <input matInput type="color" 
            [formControlName]="o.option._id">
          </mat-form-field>

          <!--Data-->
          <mat-form-field class="w-100" *ngSwitchCase="OptionType.date">
            <i-feather name="calendar"></i-feather>
            <mat-label>{{ o.option.layer ?? o.option.name | titlecase }}</mat-label>
            <input matInput [matDatepicker]="picker" 
            [formControlName]="o.option._id">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </ng-container>
      </div>

      <!-- RICORSIONE FIGLI -->
      <div class="col-sm-12" *ngIf="parentForm.get(o.option._id + '_children') as childForm">
        <ng-container *ngTemplateOutlet="renderOption; context: { options: o.children, parentForm: childForm }">
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>
