<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li aria-current="page" class="breadcrumb-item active">Preventivi</li>
  </ol>
</nav>

<mat-card class="trinta-card to-do-list-card mb-10 bg-white border-none d-block filters">
    <mat-card-content>
        <div class="filter-panel">
            <input type="checkbox" id="toggleFilter" class="toggle-checkbox">
            <label for="toggleFilter" class="toggle-label">
                Filtro preventivi <span class="arrow">&#9660;</span>
            </label>

            <div class="filter-content">
              <form [formGroup]="form">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-4">
                            <mat-form-field appearance="fill">
                              <i-feather name="calendar"></i-feather>
                              <mat-label>Seleziona intervallo</mat-label>
                              <div formGroupName="dateRange">
                                <mat-date-range-input [rangePicker]="picker">
                                  <input matStartDate formControlName="start" placeholder="Da">
                                  <input matEndDate formControlName="end" placeholder="A">
                                </mat-date-range-input>
                              </div>
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-1">
                              <button mat-button class="filter" type="submit" (click)="onSubmit()">
                                  Filtra
                              </button>               
                        </div>
                        <div class="col-lg-1">
                              <button mat-button class="remove" type="submit" (click)="remove()">
                                Rimuovi
                            </button>               
                        </div>
                      </div>
                  </div>
              </form>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="trinta-card to-do-list-card mb-25 bg-white border-none d-block">
  <mat-card-content>
    <div class="to-do-list-table">
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="orderProducts">
            <th mat-header-cell *matHeaderCellDef class="pl-0 maxi"> Prodotti </th>
            <td mat-cell *matCellDef="let element" class="pl-0 maxi" data-label="Prodotti">
              <div *ngFor="let p of getMainProducts(element.orderProducts)">
                <h6 class="mt-0 mb-10 note-cell">
                  {{ p.name }} (x{{ p.quantity }}) 
                  <span>{{getTableNote(p.note)}}</span>
                </h6>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="insertDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-0"> Data </th>
            <td mat-cell *matCellDef="let element" class="pl-0"data-label="Data">
              <h6 class="mt-0 mb-0">{{ element.insertDate | date:'dd/MM/yyyy' : 'UTC' }}</h6>
            </td>
          </ng-container>
          
          <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef class="pl-0"> Totale </th>
            <td mat-cell *matCellDef="let element" class="pl-0"data-label="Totale">
              <h6 class="mt-0 mb-0">{{element.totalPrice}} €</h6>
            </td>
          </ng-container>

          <ng-container matColumnDef="paymentMethod">
            <th mat-header-cell *matHeaderCellDef class="pl-0"> Metodo di pagamento </th>
            <td mat-cell *matCellDef="let element" class="pl-0"data-label="Pagamento">
              <h6 class="mt-0 mb-0">{{element.paymentMethod}}</h6>
            </td>
          </ng-container>

          <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef class="text-center pr-0 mini">
                  Modifica
              </th>
              <td mat-cell *matCellDef="let element" class="text-center pr-0" data-label="Modifica">
                  <div class="action">
                      <button type="button" mat-button class="p-0 min-w-auto lh-1 h-auto" (click)="UpdateItem(element)">
                          <i class="{{element.action.edit}}"></i>
                      </button>
                  </div>
              </td>
          </ng-container>

          <ng-container matColumnDef="download">
              <th mat-header-cell *matHeaderCellDef class="text-center pr-0 mini">
                  Doc
              </th>
              <td mat-cell *matCellDef="let element" class="text-center pr-0"data-label="Documento">
                  <div class="action">
                      <button type="button" mat-button class="p-0 min-w-auto lh-1 h-auto" title="scarica documento" (click)="DownloadDoc(element)">
                          <i class="ri-file-download-line"></i>
                      </button>
                  </div>
              </td>
          </ng-container>

          <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef class="text-center pr-0 mini">
                  Elimina
              </th>
              <td mat-cell *matCellDef="let element" class="text-center pr-0" data-label="Elimina">
                  <div class="action">
                      <button type="button" mat-button class="p-0 min-w-auto lh-1 h-auto" (click)="DeleteItem(element)">
                          <i class="{{element.action.delete}}"></i>
                      </button>
                  </div>
              </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell text-center no-data" [attr.colspan]="displayedColumns.length">
              Nessun preventivo inserito
            </td>
          </tr>
        </table>
      </div>
      <div class="progress">
          <mat-progress-bar *ngIf="firstLoading" mode="indeterminate"></mat-progress-bar>
      </div>
      <mat-paginator  
        [length]="totalItems"
        [pageSize]="pageSize"
        [pageSizeOptions]="[20, 50, 100, 200, 500]"
        showFirstLastButtons>
      </mat-paginator>
    </div>

  </mat-card-content>
</mat-card>
